* {
  box-sizing: content-box;
}
body {
  background: rgb(230,230,230);
  font-family: 'Lato', sans-serif;
  padding: 0;
  margin: 0;
}

nav {
  width: 99.99%;
  height: 8%;
  font-family: 'Lato', sans-serif;
}
nav ul {
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  padding-top: 5px;
  float: left;
}
nav li:not(:last-child){
  border-right: 1px solid white;
}
nav li a:hover {
  color: #383838;
}
#AboutMe{
  float: right;
  display: block;
  border-radius: 50%;
  height: 50px;
  width: 50px;
}
nav li a {
  display: block;
  padding: 14px 16px;
  text-decoration: none;
  color: #E0E0E0;
}
.NAVI{
  z-index: 1;
  color: white;
  width: 100%;
  text-align: center;
  background: rgba(0, 0, 0, 0.9);
  position: fixed;
}
.spacing {
  width: 100%;
}
a {
  text-decoration: none;
}
img{
  width: 100%;
}
.imgBeforeEntry{
  position: relative;
  text-align: center;
  margin-left: 15%;
  margin-right: 15%;
  box-shadow: 0 16px 0 rgba(0, 0, 0, 0.3);
}
.blogEntry{
  position: relative;
  margin-left: 15%;
  margin-right: 15%;
  padding: 1% 5% 5% 5%;
  background: white;
  box-shadow: 0 7px 16px 0 rgba(0, 0, 0, 0.3);
}
.textblock{
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  position: absolute;
  display: block;
  bottom: 0;
  color: white;
}
/* padding: t r b l */
.articleClass{
  background: rgba(255, 128, 0, 0.8);
  position: absolute;
  bottom: 100%;
  padding-left: 0;
  margin-left: 0;
  padding: 0.5%;
}
.articleClass p{
  font-size: 14px;
  text-transform: uppercase;
}
.WriterDate p{
  color: rgba(220, 220, 220, 0.9);
  line-height: 0.5;
  text-align: center;
}
br{
  display: block;
  content: "";
  margin-top: 10px;
}
p strong{
  text-align: center !important;
}

.PopUp {
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow-x:hidden;
    overflow-y: auto;
    background-color: rgba(0,0,0,0.5);
    text-align: center;
}
.PopUpContent {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 25px;
    width: 80%;
}
.PopUpContent img{
  border-radius: 8px;
}
.rainbow{
  -webkit-animation: rainbow 5s infinite;
}
@media (max-width: 400px) {
  nav {
    font-size: 3.25vw;
  }
}
@-webkit-keyframes rainbow{
  0%{color: orange;}
  10%{color: purple;}
	20%{color: red;}
	40%{color: yellow;}
	60%{color: green;}
	100%{color: blue;}
	100%{color: orange;}
}
