body{
  background: #C8C8C8;
  font-family: 'Lato', sans-serif;
  margin: 2%;
  padding: 0;
}
.nav{
  float: left;
  width: 100%;
  height: auto;
  font-family: 'Lato', sans-serif;
  /* background: #101010; */
  border-radius: 5px;
}
.nav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.nav li{
  float:left;
  border-right: 1px solid white;
}
.nav a:hover{
  color: #383838;
}
.nav a{
  display: block;
  padding: 14px 16px;
  text-decoration: none;
  color: #E0E0E0;
}
.Front{
  border: 1px solid yellow;
  background-color: white;
  padding: 20px;
}
